<div class="mdl-grid">

  <!-- Star Wars -->
  <div class="mdl-cell mdl-cell--6-col">

    <div class="mdl-color--white mdl-cell mdl-cell--12-col mdl-grid mdl-shadow--4dp">

      <div class="mdl-card__title">
        <h2 class="">Star Wars</h2>
      </div>

      <div class="mdl-card__supporting-text">
        TRY SWAPI !
      </div>

      <div class="mdl-card__actions">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Get Started
        </a>
      </div>

    </div>

  </div>

  <!-- Pokemon -->
  <div class="mdl-cell mdl-cell--6-col">

    <div class="mdl-color--white mdl-cell mdl-cell--12-col mdl-grid mdl-shadow--4dp">

      <div class="mdl-card__title">
        <h2 class="">Pokémon</h2>
      </div>

      <div class="mdl-card__supporting-text">
        TRY POKEAPI !
      </div>

      <div class="mdl-card__actions">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Get Started
        </a>
      </div>

    </div>

  </div>

</div>

