<!-- First line -->
<div class="mdl-grid">

  <!-- CHARACTERS -->
  <div class="mdl-cell mdl-cell--6-col">
    <app-starwars-films-list></app-starwars-films-list>
  </div>

  <!-- FILMS -->
  <div class="mdl-cell mdl-cell--6-col">
    <app-starwars-characters-list></app-starwars-characters-list>
  </div>

</div>

<!-- Second line -->
<div class="mdl-grid">

  <!-- PLANETS -->
  <div class="mdl-cell mdl-cell--6-col">
    <app-starwars-planets-list></app-starwars-planets-list>
  </div>

  <!-- SPECIES -->
  <div class="mdl-cell mdl-cell--6-col">
    <app-starwars-species-list></app-starwars-species-list>
  </div>

</div>


<!-- Third line -->
<div class="mdl-grid">

  <!-- STARSHIPS -->
  <div class="mdl-cell mdl-cell--6-col">
    <app-starwars-starships-list></app-starwars-starships-list>
  </div>

  <!-- VEHICLES -->
  <div class="mdl-cell mdl-cell--6-col">
    <app-starwars-vehicles-list></app-starwars-vehicles-list>
  </div>

</div>

<br><br><br>

<div class="mdl-grid">

  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect"
          [routerLink]="['/']">
    Back to Home
  </button>

</div>
