<!-- First line -->
<div class="mdl-grid">

  <!-- CHARACTERS -->
  <div class="mdl-cell mdl-cell--4-col">
    <app-starwars-characters-list></app-starwars-characters-list>
  </div>

  <!-- FILMS -->
  <div class="mdl-cell mdl-cell--4-col">
    <app-starwars-films-list></app-starwars-films-list>
  </div>

  <!-- PLANETS -->
  <div class="mdl-cell mdl-cell--4-col">
    <app-starwars-planets-list></app-starwars-planets-list>
  </div>

</div>

<!-- Second line -->
<div class="mdl-grid">

  <!-- SPECIES -->
  <div class="mdl-cell mdl-cell--4-col">
    <app-starwars-species-list></app-starwars-species-list>
  </div>

  <!-- STARSHIPS -->
  <div class="mdl-cell mdl-cell--4-col">
    <app-starwars-starships-list></app-starwars-starships-list>
  </div>

  <!-- VEHICLES -->
  <div class="mdl-cell mdl-cell--4-col">
    <app-starwars-vehicles-list></app-starwars-vehicles-list>
  </div>

</div>
