<div class="mdl-color--white mdl-grid mdl-shadow--4dp">

  <div class="mdl-card__title">
    <h3 class="">Characters</h3>
  </div>

  <div class="mdl-card__supporting-text"
       *ngIf="characters.length > 0">

    <!-- First line -->
    <div class="mdl-grid">

      <!-- CHARACTERS -->
      <div class="mdl-cell mdl-cell--6-col">

        <!-- Characters list -->
        <ul class="mdl-list">
          <li *ngFor="let character of characters">
            <a class="mdl-button mdl-button--colored mdl-js-ripple-effect"
               (click)="showDetails(character)">
              {{ character.name }}
            </a>
          </li>
        </ul>

      </div>

      <div class="mdl-cell mdl-cell--6-col"
           *ngIf="characterSelected !== null">

        <h4><b>{{ characterSelected.name }}</b></h4>

        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--4dp">

          <tbody>

          <tr><td><b>Birth Year</b></td><td>{{ characterSelected.birth_year }}</td></tr>
          <tr><td><b>Eye Color</b></td><td>{{ characterSelected.eye_color }}</td></tr>
          <tr><td><b>Gender</b></td><td>{{ characterSelected.gender }}</td></tr>
          <tr><td><b>Hair Color</b></td><td>{{ characterSelected.hair_color }}</td></tr>
          <tr><td><b>Height</b></td><td>{{ characterSelected.height }}</td></tr>
          <tr><td><b>Mass</b></td><td>{{ characterSelected.mass }}</td></tr>
          <tr><td><b>Skin Color</b></td><td>{{ characterSelected.skin_color }}</td></tr>
          <tr><td><b>Homeworld</b></td><td>{{ characterSelected.homeworld }}</td></tr>

          </tbody>

        </table>

      </div>

    </div>

  </div>

  <div class="mdl-card__actions mdl-card--border"
       *ngIf="characters.length < 1">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
       (click)="getCharacters()">
      Get Characters !
    </a>
  </div>

  <div class="mdl-card__actions mdl-card--border"
       *ngIf="characters.length > 1">

    <app-starwars-footer-card-list [previous]="previous" [next]="next" (selected)="updateList($event)"></app-starwars-footer-card-list>

  </div>

</div>
