<div class="mdl-color--white mdl-grid mdl-shadow--4dp">

  <div class="mdl-card__title">

    <h3 class="">Species</h3>

  </div>

  <div class="mdl-card__supporting-text"
       *ngIf="species.length > 0">

    <!-- Characters list -->
    <ul class="mdl-list">

      <li *ngFor="let specie of species">

        <a class="mdl-button mdl-button--colored mdl-js-ripple-effect"
           (click)="showDetails(specie)">
          {{ specie.name }}
        </a>

      </li>

    </ul>

  </div>

  <div class="mdl-card__actions mdl-card--border">

    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="getSpecies()">
      Get Species !
    </a>

  </div>

</div>
